{% extends 'BaseGallery.html' %} {% block title %}Gallery{% endblock %} {% block
content %}
<button
  class="create-album"
  data-target="#exampleModal"
  data-toggle="modal"
  type="button"
>
  + Новый альбом
</button>

<form
  action=""
  autocomplete="off"
  enctype="multipart/form-data"
  id="upload-form"
  method="post"
>
  <div
    aria-hidden="true"
    aria-labelledby="exampleModalLabel"
    class="modal fade"
    id="exampleModal"
    role="dialog"
    tabindex="-1"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            Укажите название альбома
          </h5>
          <button
            aria-label="Close"
            class="close"
            data-dismiss="modal"
            type="button"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">{% csrf_token %} {{ album_form.as_p }}</div>
        <div class="modal-footer">
          <button class="btn btn-primary" type="submit">Создать</button>
        </div>
      </div>
    </div>
  </div>
</form>
<h4>Ваши альбомы</h4>
{% for album in albums %}
<div class="album">
  <a href="{% url 'album_files' album.id %}">{{ album.title }}</a>
</div>
{% endfor %}
<h4>Общие альбомы</h4>
{% for shared_album in shared_albums %}
<div class="album">
  <a href="{% url 'album_files' shared_album.id %}">{{ shared_album.title }}</a>
</div>
{% endfor %} {% endblock %}
