{% extends 'BaseGallery.html' %}

{% block title %}Add files{% endblock %}

{% block content %}
  <h1>Добавить файлы в альбом</h1>
  <h2>Photos</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <ul>
      {% for file in photos %}
        <li>
          <input type="checkbox" name="selected_photos"  id="myCheckbox{{ file.id }}" value="{{ file.id }}">
          <label for="myCheckbox{{ file.id }}">
            <img src="{{ file.file.url }}" alt="photo" width="250" height="380">
          </label>
        </li>
      {% endfor %}
    </ul>

    <h2>Videos</h2>
    <ul>
      {% for file in videos %}
        <li>
          <input type="checkbox" name="selected_videos"  id="myCheckboxVideo{{ file.id }}" value="{{ file.id }}">
          <label for="myCheckboxVideo{{ file.id }}">
            <!-- Показываем превью видео (может потребоваться подходящий код для вашего проекта) -->
            <video width="250" height="380" controls>
              <source src="{{ file.file.url }}" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </label>
        </li>
      {% endfor %}
    </ul>

    <input type="submit" value="Add Selected Files to Album">
  </form>
{% endblock %}