{% extends 'BaseGallery.html' %} {% block title %}Add files{% endblock %} {%
block content %}
<h1>Добавить файлы в альбом</h1>
<h2>Photos</h2>
<form enctype="multipart/form-data" method="post">
  {% csrf_token %}
  <ul>
    {% for file in photos %}
    <li>
      <input
        id="myCheckbox{{ file.id }}"
        name="selected_photos"
        type="checkbox"
        value="{{ file.id }}"
      />
      <label for="myCheckbox{{ file.id }}">
        <img alt="photo" height="380" src="{{ file.file.url }}" width="250" />
      </label>
    </li>
    {% endfor %}
  </ul>

  <h2>Videos</h2>
  <ul>
    {% for file in videos %}
    <li>
      <input
        id="myCheckboxVideo{{ file.id }}"
        name="selected_videos"
        type="checkbox"
        value="{{ file.id }}"
      />
      <label for="myCheckboxVideo{{ file.id }}">
        <!-- Показываем превью видео (может потребоваться подходящий код для вашего проекта) -->
        <video controls height="380" width="250">
          <source src="{{ file.file.url }}" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
      </label>
    </li>
    {% endfor %}
  </ul>

  <input type="submit" value="Add Selected Files to Album" />
</form>
{% endblock %}
