{% extends 'BaseGallery.html' %}

{% block title %}Gallery{% endblock %}

{% block content %}
    {% csrf_token %}
    {% for file in photos %}
        <div class="gallery" data-photo-id="{{ file.id }}">
            <h4>{{ file.title }}</h4>
            <a target="_blank" href="file.url">
                <img src="{{file.file.url}}" alt="photo" width="250" height="380">
            </a>
            <div class="desc">Загружено {{file.created_at|date:"d.m.Y в H:i"}}</div>
        </div>
        {% endfor %}
{% endblock %}
