{% extends 'BaseGallery.html' %} {% block title %}Gallery{% endblock %} {% block
content %} {% csrf_token %} {% for file in photos %}
<!--    bootstrap element for beautiful card view. Also in videos.html, Gallery.html, SomeAlbum.html-->
<div class="card" data-photo-id="{{ file.id }}" style="width: 18rem">
  <img alt="photo" class="card-img-top" src="{{file.file.url}}" />
  <div class="card-body">
    <h5 class="card-title">{{ file.title }}</h5>
    <p class="card-text">Загружено {{file.created_at|date:"d.m.Y в H:i"}}</p>
  </div>
</div>
{% endfor %} {% endblock %}
